{% extends "layout.html" %}

{% block title %}Dashboard | Rental Property Manager{% endblock %}

{% block content %}


<div class="container heading-container"
>
  <h3 class="subheading-gradient">Dashboard</h3>

  <h4 class="subheading-shadow">Welcome, {{ current_user.username }}!</h4>

</div>

  <div class="row g-4">
    <div class="col-md-4">
      <div class="card text-white bg-primary">
        <div class="card-body">
          <h5 class="card-title">Total Properties</h5>
          <p class="card-text fs-4">{{ total_properties }}</p>
        </div>
      </div>
    </div>

    <div class="col-md-4">
      <div class="card text-white bg-success">
        <div class="card-body">
          <h5 class="card-title">Total Tenants</h5>
          <p class="card-text fs-4">{{ total_tenants }}</p>
        </div>
      </div>
    </div>

    <div class="col-md-4">
      <div class="card text-white bg-info">
        <div class="card-body">
          <h5 class="card-title">Total Rent Entries</h5>
          <p class="card-text fs-4">{{ total_rents }}</p>
        </div>
      </div>
    </div>
  </div>

  <div class="row g-4 mt-3">
    <div class="col-md-4">
      <div class="card text-white bg-warning">
        <div class="card-body">
          <h5 class="card-title">Due Rents</h5>
          <p class="card-text fs-4">{{ due_rents }}</p>
        </div>
      </div>
    </div>

    <div class="col-md-4">
      <div class="card text-white bg-danger">
        <div class="card-body">
          <h5 class="card-title">Lease Expiry Soon</h5>
          <p class="card-text fs-4">{{ expiring_leases }}</p>
        </div>
      </div>
    </div>
  </div>

  <p class="text-muted mt-5">© {{ current_year }} Rental Property Manager</p>
</div>
{% endblock %}

